.detalle-producto{
    display: flex;
    img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin: 20px;
    }
}
.detalle-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .descripcion{
        font-size: 1rem
    }
    .precio{
        color: #000B52;
        font-size: 1.5 rem;
        font-weight: bold;
    }

}