.cart-quantity {
    color: white;
    background-color: red;
    padding: 0.1em 0.2em;
    position: absolute;
    margin-top: 0.2em;
    margin-right: 5.3em;
    right: 0;
    border: solid 2px red;
    border-radius: 50%;
    font-weight: bolder;
}