.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.contenedor-producto{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    img{
        height: 180px;
        width: 180px;
        object-fit:cover;
        border-radius: 20px;
    }
    .descripcion{
        padding: 5px;
    }
    .precio{
        padding: 5px;
        color: #000B52;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .stock{
        padding: 5px;
    }
}    
